.App {
  text-align: center;
  font-size: 22px;
  padding-top: 10px;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
}

.flex-container > div {
  background-color: #ffffff;
  padding: 10px;
  width: 17%;
  height: 90%;
  margin: 10px;
  text-align: center;
  line-height: 33px;
  font-size: 22px;
  border-radius: 25px;
}

.flex-container > div > button{
  background-color: #4CAF50;
  font-size: 22px;
  border: none;
  border-radius: 10px;
  padding: 5px;
  width: 80px;
}

.flex-container > div > img{
  width: 140px;
  height: 140px;
}

img{
  width:100%;
  height:30%;
  padding: 3px;
}

button[type=submit]{
  border: none;
  background-color: #ff8c1a;
  font-size: 18px;
  border-radius: 10px;
  color:#ffffff;
  width:230px;
  height: 35px;
}

.App-button{
  border: none;
  background-color: #eee;
  font-size: 18px;
}

.App-header {
  display: inline;
  font-size: calc(20px + 2vmin);
}

.App-header > input[type=text]{
  padding: 6px;
  border: none;
  margin-top: 8px;
  font-size: 15px;
}

.Cart-div {
  position: absolute;
  display: block;
  top: 76px;
  left: 20px;
  background-color: #efefef;
  max-height: 243px;
  width:350px;
}

.Cart-div > ul > li > button {
  float: right;
}

.Cart-div > ul {
  max-height: 155px;
  overflow: auto;
  margin: 8px;
  font-size: 15px;
}

.Cart-div > h4 {
  margin-top: 8px;
  margin-bottom: 8px;
}
.image {
  position: relative;
}
